.thanks-page{
    margin: 5% 0;
    height: 90vh;
}

.thanks-page h1{
    padding-bottom: 10px;
    font-size: 30px;
}

.thanks-page p{
    padding-bottom: 20px;
}

.fade-in{
    opacity: 1;
    transition: opacity 0.5s ease;
}

.fade-out{
    opacity: 0;
    transition: opacity 0.5s ease;
}